@import url('https://fonts.googleapis.com/css2?family=Vollkorn:ital,wght@0,400..900;1,400..900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Vollkorn", serif;
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 37%, rgba(233,148,148,1) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
    font-style: normal;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px;
}

h2 {
    margin-bottom: 20px;
    color: #333;
    text-align: center;
}

p {
   margin-bottom: 10px;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #555;
}

input[type="text"],
input[type="tel"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
}

textarea {
    resize: vertical;
}

button {
    background-color: #28a745;
    color: #fff;
    padding: 10px;
    width: 100%;
    border: none;
    border-radius: 5px;
    font-size: 1.1em;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button-back {
   background-color: #DB7093;
    color: #fff;
    padding: 10px;
    width: 100%;
    border: none;
    border-radius: 5px;
    font-size: 1.1em;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 5px;
}

.button-back:hover {
   background-color: #C71585;
}

button:hover {
    background-color: #218838;
}

.order-summary {
    text-align: center;
    margin-top: 20px;
}

@media (max-width: 768px) {
    .container {
        padding: 15px;
    }
}

@media (max-width: 480px) {
    h2 {
        font-size: 1.5em;
    }
    
    input[type="text"],
    input[type="tel"],
    input[type="email"],
    textarea {
        padding: 8px;
    }
    
    button {
        font-size: 1em;
        padding: 8px;
    }
}
